/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700 */

body {
  background:hsl(30, 38%, 92%) ;
  display: flex;
  justify-content: center;
  margin-top: 17%;
}

.image {
  background-image: url(./images/image-product-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  border-bottom-left-radius: 3%;
  border-top-left-radius: 3%;
  
}

.container {
  display: flex;
  width: 70%;
  background:  hsl(0, 0%, 100%);
  border-radius: 3%;
  max-width: 692px;
  min-width: 690px;
}

#accentTitle {
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
font-weight: 500;
text-transform: uppercase;
}


.title {
  font-family: Fraunces;
  font-size: 2.3em;

}
article {
  padding: 2.5em;

  width: 88%;
}

article p {
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  line-height: 1.5em;
}

.mainPrice {
  font-family: Fraunces;
  font-size: 2em;
  color:  hsl(158, 42%, 36%);
}

small {
  text-decoration: line-through;
  font-size: 1.1em;
  color: hsl(228, 12%, 48%);
  font-family: Montserrat;
  padding-top: 3%;
}
div {
  display: flex;


}

div * {
  margin: 3%;
    text-align: center;
    margin-bottom: 1em;
}

a {
 
  background:hsl(157, 44%, 17%) ;
  font-family: Montserrat;
  text-decoration: none;
  color: white;
  padding: 1em 30%;
  border-radius: 5px;

}

@media screen and (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background:  hsl(0, 0%, 100%);
    border-radius: 3%;
    max-width: 690px;
  }

  a {
 
    background:hsl(157, 44%, 17%) ;
    font-family: Montserrat;
    text-decoration: none;
    color: white;
    padding: 1em 10%;
    border-radius: 5px;
  
  }
  
 .image {
    background-image: url(./images/image-product-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 15em;
    border-bottom-left-radius: 0%;
    border-top-left-radius: 0%;
    
  }

  article {
    padding: 2.5em;
  
    width: 98%;
  }


}